<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vincent Houzet</title>

    <link href="css/style.css" rel="stylesheet">
    
</head>

<header>

    <nav>
        <ul>
            <li><a href='/CareerStory'>"Career Story</a></li>
            <li>Academic Life</li>
            <li>Portfolio</li>
            <li>Contact</li>
        </ul>
    </nav>

</header>

<body>