<%- include ('./partials/header.ejs') %>

<h1>Career Story</h1>

<h2>Expériences Professionnelles</h2>

<ul>
    <li>Du 01/03/2017 à Aujourd’hui : Vendeur Conseil à Bofrost, Bonneville.</li>
    <li>Du 18/01/2016 au 28/02/2017 : Gestionnaire Crédits Particuliers à la Banque Populaire des Alpes.</li>
    <li>Du 08/09/2015 au 17/12/2015 : Assistant de Clientèle au Crédit Agricole Des Savoie, à Annemasse.</li>
</ul>


<%- include ('./partials/footer.ejs') %>
