<%- include ('./partials/header.ejs') %>


    <h1>Dev React.JS</h1>
    <h2>Vincent Houzet</h2>

    <p>Présentation
       Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum eveniet cumque, officia nisi doloribus unde libero officiis incidunt asperiores quae consequatur, nesciunt saepe suscipit molestiae rem repudiandae dolorem ipsum sint!
    </p>

    
<%- include ('./partials/footer.ejs') %>